name: chat_package
description:  Fully functional chat ui for flutter, with functionality to send text, voice notes,and images
version: 0.0.7
homepage: https://github.com/MOUKZ/chat_package

environment:
  sdk: '>=2.18.1 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  transparent_image: ^2.0.0
  flutter_slidable: ^2.0.0
  flutter_keyboard_visibility: ^5.4.0
  permission_handler: ^10.2.0
  image_picker: ^0.8.6
  just_audio: ^0.9.30
  record: ^4.4.3
  intl: ^0.17.0
  photo_view: ^0.14.0
  stop_watch_timer: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #